body{
    background-color: #d5f4e6;
    overflow: hidden;
}

*{
   box-sizing: border-box; 
}

#basketContainer{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 33vh;
    width: auto;
    position: absolute;
    left: 37vw;

}

#basketImage{
    height: 100%;
    width: auto;
}


#net{
    position: absolute;
    height:auto;
    width: 100%;
    z-index: 3;
}

.courtContainer{
    width: auto;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



#courtPic{
    width: auto;
    height: 30%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

#gameBallContainer {
    position: absolute;
    /* height: auto; */
    /* width: 20vh;;
    bottom: 7vh;
    left: 45vw;
    z-index: 4; */
}

#basketball{
    width: auto;
    height: 20vh;
}

p{
    position: absolute;
    z-index: 50;
    top: 13vh;
    left: 2.5vh;
    font-size: 2rem;
    font-weight: bold;
}

#life{
    margin-top: 4px;;
}
