body{
    background-color: #d5f4e6;
    box-sizing: border-box;
    
}

.formContainer {
    display: flex;;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

form{
    background-color: #618685;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    box-sizing: content-box;
    width: 30%;
    /* margin: auto ; */
    padding-bottom: 2%;
}


.inputs{
    display: flex;
    font-size: 1.5rem;
    width: 68%;
    border-radius: 10px;
    height: 4vh;
}

#logInBtn, #signUpBtn{
    width: 68%;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #ff660c;
    border: 4px solid black;
}

#homePageLogo{
    width: 100%;
    height: auto;
}

.logoContainer{
    width: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1.5vh;
}

#signUpLogoContainer{
    width: 20vh;
}

.forBtn{
    background-color: #618685;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:visited{
    color: blue;
}

p, a{
    font-size: large;
}